## [ Visual Studio / .NET Core ]
bin/
obj/
out/
.vs/
.vscode/
*.user
*.userosscache
*.sln.docstates

## [ User-specific files ]
*.suo
*.user
*.userosscache
*.sln.docstates

## [ Build results ]
[Dd]ebug/
[Rr]elease/
x64/
x86/

## [ Connection Strings & Secrets ]
appsettings.Development.json